<?php
/*
* Parametros de Conexión:
* MySQL      : 'driverClass' => 'Doctrine\DBAL\Driver\PDOMySql\Driver', 'port' => 3306
* POSTGRES   : 'driverClass' => 'Doctrine\DBAL\Driver\PDOPgSql\Driver', 'port' => 5432
* SQL SERVER : 'driverClass' => 'Doctrine\DBAL\Driver\SQLSrv\Driver'  , 'port' => 1433
*/

$dbParams = array(
    'host' => 'localhost',
    'port' => 3306,  //MySQL  
    'user' => 'root',
    'password' => '',
    'dbname' => '',
    'driverOptions' => array(\PDO::MYSQL_ATTR_INIT_COMMAND => 'SET NAMES utf8'),
);
 
return array(
    'doctrine' => array(
        'connection' => array(
            'orm_default' => array(
                'driverClass' => 'Doctrine\DBAL\Driver\PDOMySql\Driver',
                'params' => $dbParams,
            )
        ),
        /* //Para definir tipos personalizados en Doctrine
        'configuration' => array(
            'orm_default' => array(
                'types' => array(
                    //'TypeName' => 'TypeNameFQN',
                ),
            ),
        ),
        */
    )
);